.navbar {
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 100px;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  position: relative;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #575757;
}

.dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: row;
  z-index: 1;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
  padding: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu,
.dropdown-menu.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu li {
  padding: 0;
  background-color: #333;
}

.dropdown-menu li a {
  padding: 12px 16px;
  text-align: left;
}

.dropdown-menu li a:hover {
  background-color: #575757;
}

.mobile-responsive {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  padding: 25px 15px;
  position: fixed;
}

.mobile-responsive ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.mobile-responsive ul li {
  list-style: none;
}

.mobile-responsive img {
  width: 25px;
}

.content {
  margin: 30px 110px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: left;
}

.navigation .card {
  background-color: #2e2d2d;
  border: 1px solid #686666;
  border-radius: 8px;
  padding: 1rem;
  flex: 1 1 300px;
  max-width: 300px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation .number {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.navigation h1 {
  font-size: 20px;
  color: #fff;
}

.navigation .number {
  font-size: 35px;
  color: #fff;
}

.navigation .icon i {
  color: #868686;
  font-size: 45px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .mobile-responsive {
    display: block;
  }

  .content {
    margin: 30px 30px;
  }
}