@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap');

:root {
  --poppins : "Poppins", sans-serif;
  --title : "Protest Guerrilla", sans-serif;
  --text-light : #ffffff;
  --text-dark : #323232;
  --bg-dark : #1E1E1E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

body {
  background-color: var(--bg-dark);
}

.notification {
  display: none;
  background-color: #383737;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  width: 350px;
  max-width: 350px;
  padding: 27px 25px;
  border-radius: 10px;
  border: 1px solid #413f3f;
  transition: opacity 0.5s ease;
}

.notification .title {
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.notification .message {
  color: var(--text-light);
  font-size: 14px;
  padding: 0 4px;
  text-align: center;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.notification.active {
  display: block;
  opacity: 1; /* Fully visible */
  animation: flash 1s ease-in-out; /* Flash effect */
}