.notification {
  display: none;
  background-color: #383737;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  width: 350px;
  max-width: 350px;
  padding: 27px 25px;
  border-radius: 10px;
  border: 1px solid #413f3f;
  transition: opacity 0.5s ease;
}

.notification .title {
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.notification .message {
  color: var(--text-light);
  font-size: 14px;
  padding: 0 4px;
  text-align: center;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.notification.active {
  display: block;
  opacity: 1; /* Fully visible */
  animation: flash 1s ease-in-out; /* Flash effect */
}